@import '../../globals/scss-const.scss';

.bottom-container{
    margin-top: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 535px;
    img{
        color: $light-blue-secondary;
    }
}