.top-container{
    position: relative;
    margin-bottom: 191px ;
    .top-background-img{
        position: absolute;
        right: -160px;
    }
    .top-dots-img{
        position: absolute;
        bottom: -640px;
        right: -160px;
    }
}

